#!/bin/bash
mount -t proc /proc $LFS/proc
mount --rbind /sys $LFS/sys
mount --make-rslave $LFS/sys
mount --rbind /dev $LFS/dev
mount --make-rslave $LFS/dev
mount -t devpts devpts $LFS/dev/pts -o gid=5,mode=620
mount -t tmpfs tmpfs $LFS/run

# 讓後續安裝動作可以繼續
[ -d $LFS/tmp/bin ] \
    && mount --bind $LFS/tmp/bin $LFS/tools/bin
[ -d $LFS/tmp/x86_64-pc-linux-gnu/bin ] \
    && mount --bind $LFS/tmp/x86_64-pc-linux-gnu/bin $LFS/tools/x86_64-pc-linux-gnu/bin
[ -d $LFS/tmp/gcc-specs ] \
    && mount --bind $LFS/tmp/gcc-specs $LFS/tools/lib/gcc/x86_64-pc-linux-gnu/6.3.0/specs
